name: Build Android

on:
  workflow_dispatch:

jobs:
  buildAndroid:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clean Haxelib Cache
        run: rm -rf ~/.haxelib

      - name: Setup Android NDK
        id: setup-ndk
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r15c

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 11

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1.2.0
        with:
          haxe-version: 4.2.5

      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install hmm --quiet
          haxelib run hmm install --quiet
          haxelib install tjson
          haxelib install hxjsonast
          haxelib install hscript
          haxelib git hxCodec https://github.com/SPLCoding/hxCodec-but-it-works-xd.git
          haxelib git linc_luajit https://github.com/Sirox228/linc_luajit
          haxelib git extension-androidtools https://github.com/MaysLastPlay77/extension-androidtools
          haxelib install hxcpp-debug-server
          haxelib list
          
      - name: Setup Lime / Flixel
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        run: |
          haxelib run lime setup -alias -y
          haxelib run lime config ANDROID_SDK "$ANDROID_HOME"
          haxelib run lime config ANDROID_NDK_ROOT "$ANDROID_NDK_HOME"
          haxelib run lime config JAVA_HOME "$JAVA_HOME"
          haxelib run lime config ANDROID_SETUP true

          haxelib set lime 7.9.0
          haxelib set openfl 9.1.0
          haxelib set flixel 4.11.0
          haxelib set flixel-addons 2.11.0
          haxelib set flixel-ui 2.5.0
          haxelib set hxcpp 4.2.1

      - name: Build
        run: |
          haxelib run lime build android \
            -D NO_PRECOMPILED_HEADERS \
            --app-version="4.0.0-${{ github.run_id }}"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Android-APK
          path: export/release/android/bin/app/build/outputs/apk/debug
